@font-face {
  font-family: 'Greta';
  src: url('/public/fonts/GRETASANSSTD-BOLD.OTF');
  font-weight: bold;
}
@font-face {
  font-family: 'Greta';
  src: url('/public/fonts/GRETASANSSTD-THIN.OTF');
  font-weight: 300;
}
@font-face {
  font-family: 'Greta';
  src: url('/public/fonts/GRETASANSSTD-THINITALIC.OTF');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Greta';
  src: url('/public/fonts/GRETASANSSTD-REGULAR.OTF');
  font-weight: 400;
}
@font-face {
  font-family: 'Greta';
  src: url('/public/fonts/GRETASANSSTD-REGULARITALIC.OTF');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Greta';
  src: url('/public/fonts/GRETASANSSTD-MEDIUM.OTF');
  font-weight: 500;
}
@font-face {
  font-family: 'Greta';
  src: url('/public/fonts/GRETASANSSTD-MEDIUMITALIC.OTF');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Greta';
  src: url('/public/fonts/GRETASANSSTD-BOLDITALIC.OTF');
  font-weight: bold;
  font-style: italic;
}

html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Greta';
  scroll-behavior: smooth;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 27px !important;
}
.swiper-button-next{
  right: -7px !important;
}
.swiper-button-prev{
  left: -7px !important;
}
.banner .swiper-button-next,
.banner .swiper-button-prev {
  color: #fff;
  transition: 0.3s;
}
.banner .swiper-button-next:hover,
.banner .swiper-button-prev:hover {
  color: #e35a00;
}

.highlights .swiper-button-next,
.highlights .swiper-button-prev{
  color: black !important;
  background-color: aliceblue;
  border-radius: 10%;
  width: 30px !important;
  height: 50px !important;
  transition: 0.3s;
}
.highlights .swiper-button-next:hover,
.highlights .swiper-button-prev:hover{
  color: white !important;
  background-color: #e35a00;
}

.collections .swiper-button-next,
.collections .swiper-button-prev{
  color: white !important;
  background-color: #e35a00 !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  transition: 0.3s;
}
.collections .swiper-button-next:hover,
.collections .swiper-button-prev:hover{
  border-width: 1px;
  border-color: #e35a00 !important;
  color: #e35a00 !important;
  background-color: transparent !important;
}
.swiper-pagination-bullet-active {
  background-color: #fff !important;
  }

.zoom:hover img{
  transform: scale(1.05);
  transition: 1s;
}

.zoom:hover {
  transition: 1s;
}

.landing{
  background-image: url(./imgs/shutterstock_1955215519.png);
  background-size: cover;
  background-attachment: fixed;
}

.ex-hover:hover .content{
  display: block;
}

header span:hover,
li:hover,
.about:hover{
  color: #e35a00;
}
.nav li,
.nav .about{
  overflow: hidden;
  position: relative;
  width: fit-content;
}
.nav li::before,
.nav .about::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #e35a00;
  position: absolute;
  bottom: 0;
  left: -100%;
  transition: 1s;
}
.nav li:hover::before,
.nav .about:hover:before {
  left: 0;
}

.active {
  color:#e35a00;
}

.museumbanner .active{
  color: black;
}

.hoverButton{
  overflow: hidden;
  transition: 0.5s;
}

.hoverButton::before{
  content: "";
  width: 100%;
  height: 100%;
  background-color: #e35a00;
  position: absolute;
  left: 0;
  top: -100%;
  transition: 0.5s;
  border-radius: 4px;
  z-index: -1;
}

/* .hoverButton:hover::before{
  top: 0;
} */

.orangeButton{
  overflow: hidden;
  transition: 1s;
  z-index: 2;
}

.orangeButton::before{
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(250, 250, 250);
  position: absolute;
  left: 0;
  top: -100%;
  transition: 0.8s;
  border-radius: 4px;
  z-index: -1;
}

.orangeButton:hover::before{
  top: 0;
}

.collSwiper .swiper-pagination-bullet {
  width:100px;
  height: 10px;
  border-radius: 9999px;
  background-color: #e35a00!important;
  margin: 0 15px!important;
}

.collSwiper .swiper-pagination-bullet-active {
  background-color: #e35a00!important;
}




.pagination {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.pagination svg {
  font-size: large !important;
  font-weight: bold;
}
.pagination > li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.pagination > li > a,
.pagination > li > span {
  aspect-ratio: 1 / 1;
  padding: 20px;
  border-radius: 10%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination > li.active > a {
  color: #fff;
  background-color: #e35a00;
  border-color: #e35a00;

}
.pagination > li > a:hover {
  background-color: #e35a00;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 2px;
}