@font-face {
  font-family: 'Greta';
  src: url('/public/fonts/GRETASANSSTD-BOLD.OTF');
  font-weight: bold;
}
@font-face {
  font-family: 'Greta';
  src: url('/public/fonts/GRETASANSSTD-THIN.OTF');
  font-weight: 300;
}
@font-face {
  font-family: 'Greta';
  src: url('/public/fonts/GRETASANSSTD-THINITALIC.OTF');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Greta';
  src: url('/public/fonts/GRETASANSSTD-REGULAR.OTF');
  font-weight: 400;
}
@font-face {
  font-family: 'Greta';
  src: url('/public/fonts/GRETASANSSTD-REGULARITALIC.OTF');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Greta';
  src: url('/public/fonts/GRETASANSSTD-MEDIUM.OTF');
  font-weight: 500;
}
@font-face {
  font-family: 'Greta';
  src: url('/public/fonts/GRETASANSSTD-MEDIUMITALIC.OTF');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Greta';
  src: url('/public/fonts/GRETASANSSTD-BOLDITALIC.OTF');
  font-weight: bold;
  font-style: italic;
}

html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Greta';
  scroll-behavior: smooth;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  color: white !important;
  font-size: 22px !important;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: black;
  background-color: orange;
  border-radius: 50%;
  transition: 1s;
}
.swiper-pagination-bullet-active {
  background-color: #fff !important;
  }

.zoom:hover img{
  transform: scale(1.05);
  transition: 1s;
}

.zoom:hover {
  color:black;
  transition: 1s;
}

.landing{
  background-image: url(./imgs/shutterstock_1955215519.png);
  background-size: cover;
  background-attachment: fixed;
}

.ex-hover:hover .content{
  display: block;
}

header span:hover,
li:hover,
.about:hover{
  color: #e35a00;
}
.nav li,
.nav .about{
  overflow: hidden;
  position: relative;
  width: fit-content;
}
.nav li::before,
.nav .about::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #e35a00;
  position: absolute;
  bottom: 0;
  left: -100%;
  transition: 1s;
}
.nav li:hover::before,
.nav .about:hover:before {
  left: 0;
}

.active {
  color:#e35a00;
}

@media (min-width:641px) {
  .childMuseum {
    height: 78vh;
  }
}
@media (min-width:641px) {
  .conser {
    height: 78vh;
  }
}

@media (max-width: 767px) {
  .museumBanner {
    font-size: 0.8rem;
  }
}

.hoverButton{
  overflow: hidden;
  transition: 0.5s;
}

.hoverButton::before{
  content: "";
  width: 100%;
  height: 100%;
  background-color: #e35a00;
  position: absolute;
  left: 0;
  top: -100%;
  transition: 0.5s;
  border-radius: 4px;
  z-index: -1;
}

.hoverButton:hover::before{
  top: 0;
}

.orangeButton{
  overflow: hidden;
  transition: 1s;
  z-index: 2;
}

.orangeButton::before{
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(250, 250, 250);
  position: absolute;
  left: 0;
  top: -100%;
  transition: 0.8s;
  border-radius: 4px;
  z-index: -1;
}

.orangeButton:hover::before{
  top: 0;
}

.collSwiper .swiper-pagination-bullet {
  width:100px;
  height: 10px;
  border-radius: 9999px;
  background-color: #e35a00!important;
  margin: 0 15px!important;
}

.collSwiper .swiper-pagination-bullet-active {
  background-color: #e35a00!important;
}